@import "tailwindcss";

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #0b1f3a;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
}
#profile_name {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-manrope);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-072635);
  text-align: left;
  font: normal normal bold 14px/19px Manrope;
  letter-spacing: 0px;
  color: #072635;
  opacity: 1;
}

#role {
  top: 54px;
  left: 1361px;
  width: 129px;
  height: 19px;
  /* UI Properties */
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-manrope);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-707070);
  text-align: left;
  font: normal normal normal 14px/19px Manrope;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}

#profile {
  top: 32px;
  left: 1309px;
  width: 44px;
  height: 44px;
  /* UI Properties */
  opacity: 1;
}

#settings {
  width: 19px;
  height: 20px;
  /* UI Properties */
  background: transparent url('/settings.png') 0% 0% no-repeat padding-box;
  opacity: 1;
}

#more {
  width: 4px;
  height: 18px;
  /* UI Properties */
  background: transparent url('/more.png') 0% 0% no-repeat padding-box;
  opacity: 1;
}